/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  ul {
    list-style: none;
  }
   
  a,
  button {
    color: inherit;
  }
   
  a {
    text-decoration: none;
  }
   
  button {
    background: none;
    cursor: pointer;
  }
   
  input {
    -webkit-appearance: none;
  }
   
  button,
  input {
    border: none;
  }
   
  svg {
    display: block;
  }
   
  body {
    font: 16px "Lato", sans-serif;
  } 






/* style */
/* 
header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.name {
  background-color: crimson;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 20px;
  vertical-align: middle;
}
.profile-pic {
  background-color: blueviolet;
  width: 280px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-pic h2 {
  display: inline-block;
  padding-top: 20px;
  border: solid black;
}

aside {
  background-color: darkgreen;
  width: auto;
}
nav a {
  display: block;
  padding: 2rem 0rem;
}

.about {
  background-color: darkorange;
}

/* images */

/* .profile-pic img {
    height: 80px;
    width: auto;
    border-radius: 50%;
    display: inline-block;
    padding: .5rem;
}

footer img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}  */

  /* grid */

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 300px);
  border: solid black;
}


header {
  background-color: aliceblue;
  grid-row: 1 / 2;
  grid-column: 2 / 6;  
}

aside {
  background-color: aqua;
  grid-row: 1 / 5;  
  grid-column: 1 / 2;
}

.about {
  background-color: #deb887;  
  grid-row: 2 / 3;
  grid-column: 2 / 6;
}

.moon {
  background-color: darkorange; 
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.time {
  background-color: deeppink;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.weather {
  background-color: blue;  
  grid-row: 3 / 4;
  grid-column: 4 / 6;
}

.events {
  background-color: gold; 
  grid-row: 4 / 5;
  grid-column: 2 / 4;
}

.projects {
  background-color: mediumspringgreen;  
  grid-row: 4 / 5;
  grid-column: 4 / 6;
}

.soundcloud {
  background-color: dodgerblue;  
  grid-row: 5 / 6;
  grid-column: 2 / 4;
}

.guitar-songs {
  background-color: chartreuse;
  grid-row: 5 / 6;
  grid-column: 4 / 6;  
}

footer {
  background-color: black; 
  grid-row: 5 / 6; 
  grid-column: 1 / 2;
}