/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  ul {
    list-style: none;
  }
   
  a,
  button {
    color: inherit;
  }
   
  a {
    text-decoration: none;
  }
   
  button {
    background: none;
    cursor: pointer;
  }
   
  input {
    -webkit-appearance: none;
  }
   
  button,
  input {
    border: none;
  }
   
  svg {
    display: block;
  }
   
  body {
    font: 16px "Lato", sans-serif;
    background-color: #A2B1C1;
  } 




  /* grid */

.container {
  display: grid;
  grid-template-columns: 250px repeat(4, 1fr);
  grid-template-rows: 90px 180px repeat(2, 400px) 200px 120px;
  border: solid black;
}



/* style */



/* header */

header {
  /* background-color: aliceblue; */
  grid-row: 1 / 2;
  grid-column: 2 / 6;
  display: flex;
  justify-content: space-between;
  height: 5.5rem;  
}
.name {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin: 1.5rem 1rem;
  vertical-align: middle;
}
.profile-pic {
  width: 500px;
  padding: 0px;
  margin: .5rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-pic h2 {
  display: inline-block;
  padding-top: 20px;
  margin: 0rem 1rem;
  /* border: solid black; */
}


/* aside */


aside {
  background-color: whitesmoke;
  grid-row: 1 / 5;  
  grid-column: 1 / 2;
}
aside h2 {
  margin: 2rem;
}
nav a {
  display: inline;
  padding: 3rem .5rem;
}
.nav-icon {
  margin: 5rem 1rem;
}


.about {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
}
.welcome {
  background-color: whitesmoke;
  margin: 1rem;
  padding: 1.5rem;
  height: 150px;
  width: 850px;
  border-radius: 15%;
}
.welcome h2 {
  margin: .5rem;

}
.welcome p {
  margin: .5rem;
}
.time {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  padding: 2rem 1rem;
}

.moon { 
  grid-row: 5 / 6;
  grid-column: 4 / 5;
  padding-top: 1rem;
}
.quote {
  grid-row: 5 / 6;
  grid-column: 5 / 6;
  text-align: center;
  padding-top: 1rem; 
}

.weather {
    
  grid-row: 6 / 7;
  grid-column: 2 / 6;
  padding-top: 1rem;
}

.events {
  background-color: white; 
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  border-radius: 20%;
}

.projects {
  background-color: white;  
  grid-row: 3 / 4;
  grid-column: 4 / 6;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  border-radius: 20%;
}

.soundcloud {
  grid-row: 4 / 5;
  grid-column: 2 / 4;
  text-align: center;
  padding-top: 1rem;
}
.soundcloud iframe {
  width: 500px;
  border-radius: 10%;
}

.guitar-songs {
  background-color: white;
  grid-row: 4 / 5;
  grid-column: 4 / 6;  
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  border-radius: 20%;
}


footer {
  background-color: gainsboro;
  grid-row: 5 / 7; 
  grid-column: 1 / 2;
  text-align: center;
  padding-top: 6rem;
}


/* table */


table {
  height: 350px;
  width: 550px;

}
td {
  width: rem;
  height: 4rem;
}
tr {
  width: 5rem;
  border: solid black;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.new {
  text-align: right;
}
.table-head {
  text-align: left;
}
.table-head h2 {
  margin-bottom: .3rem;
}
.new {
  background-color: green;
  width: 3.5rem;
  text-align: center;
  border-radius: 45%;
  margin-left: 1.5rem;
}
.now {
  background-color: red;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: .6rem;
  margin-left: 2rem;
}

/* images */

.profile-pic img {
    height: 80px;
    width: auto;
    border-radius: 50%;
    display: inline-block;
    padding: .5rem;
}

footer img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}
.nav-icon img {
  height: 1.5rem;
}
.nav-icon-head img {
  height: 65px;
  margin: 0rem .5rem;
}